body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #eaeaea;
  }
  body::before {
          content: '';
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-image: url('https://wallpaperaccess.com/full/1719378.jpg');
          background-size: cover;
          background-position: center;
          filter: blur(5px); /* Difumina solo la imagen */
          z-index: -1; /* Coloca la imagen detrás del contenido */
      }
  header {
    text-align: center;
    padding: 20px;
    background: #1a1a1a;

  }
  h1 {
    margin: 0;
    font-size: 2.5em;
  }
  main {
    max-width: 1000px;
    margin: 20px auto;
    padding: 0 10px;
  }
  /* Definimos el cuadro */
/* Definimos el cuadro con el logo */
#miCuadro {
width: 200px;
height: 100px;
background-image: url('imagenes/logodota.png');
background-size: cover;
position: relative;
animation: mover 3s infinite;
}

/* Creamos la animación */
@keyframes mover {
0% { left: 0; }
50% { left: 800px; }
100% { left: 0; }
}


  /* Tabla */
  @keyframes chispa {
    0% {
        border-image-source: linear-gradient(0deg, red, yellow, orange);
    }
    25% {
        border-image-source: linear-gradient(90deg, yellow, orange, red);
    }
    50% {
        border-image-source: linear-gradient(180deg, orange, red, yellow);
    }
    75% {
        border-image-source: linear-gradient(270deg, red, yellow, orange);
    }
    100% {
        border-image-source: linear-gradient(360deg, yellow, orange, red);
    }
}
  
  table {
    margin: 0 auto;
    display: table;
    border: 5px solid transparent;
    border-image: linear-gradient(0deg, red, yellow, orange);
    border-image-slice: 1;
    animation: chispa 3s infinite linear;
  }
  table caption {
    font-size: 1.8em;
    margin-bottom: 10px;
  }
  th, td {
    border: 1px solid #333;
    padding: 12px;
    text-align: center;
  }
  th {
    background-color: #333;
  }
  img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
  }
  /* Formulario */
  form {
    background: #1a1a1a;
    padding: 20px;
    border-radius: 5px;
  }
  form h2 {
    margin-top: 0;
    margin-bottom: 15px;
  }
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 3px;
  }
  button {
    background-color: #007bff;
    color: #fff;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-size: 1em;
    cursor: pointer;
  }
  button:hover {
    background-color: #0056b3;
  }
  footer {
    text-align: center;
    padding: 15px;
    background: #1a1a1a;
    font-size: 0.9em;
  }